/* Grundlæggende body styling */
body {
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 100px;
    background: linear-gradient(to bottom, #fff, #FFF5E8);
}

a{
    color: black;
}

header{
    padding: 30px;
    margin-bottom: -30px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    gap: 300px;
}

#tilbagePil {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 250px;
}


.socials-header {
    display: flex;
}

.profil {
    width: 65px;
    height: auto;
}

.kurv {
    width: 80px;
    height: auto;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px 20px;
    margin-top: 30px;
}

.progress-bar img {
    width: 60px;
    height: 40px;
}

.progress-linje {
    height: 1px;
    background-color: black;
    flex-grow: 1;
    margin: 0 5px;
}


.progress-linje-1, .progress-linje-2, .progress-linje-3 {
    background-color: green;
}


.fortsæt-knap{
    color: black;
    background: #83B33D;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 15px;
    font-weight: bold;
    width: 25%;
    height: 35px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}


a.fortsæt-link {
    text-decoration: none;
}



footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.footer-container1, .footer-container2, .footer-container3 {
    display: flex;
    flex-direction: column;
}


.footer-container1 {
    margin-right: 400px;
}


.footer-container2 {
    margin-right: 100px;
}

#logo-footer{
    width: 200px;
    margin-bottom: -110px;
}
.socials-footer img{
    width: 35px;
}
.socials-footer{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 70px;
}

.footer-container2, .footer-container3 {
    line-height: 1px;
    text-align: center;
}

.footer-container2, .footer-container3 h3 {
    font-size: 15px;
}

h2{
    text-align: center;
    margin-bottom: 50px;
}

.ordre-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 200px;
}

.opdeler{
    height: 3px;
    background-color: black;
    margin: 50px 100px;
}

.totalt-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 200px;
}


.dag-container{
    text-align: center;
}

.dag-container h2{
    margin-top: 30px;
    margin-bottom: 30px;
}




.leverings-oplysninger h2{
    text-align: center;
    margin-top: 30px;
}

.navn-boks{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navn-boks2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 20px;

}

.navn-boks input{
    text-align: center;
    width: 245px;
    height: 35px;
    border: none;
    background-color: #F5F5F5;
    color: black;
}

.navn-boks2 input{
    text-align: center;
    width: 550px;
    height: 35px;
    border: none;
    background-color: #F5F5F5;
    color: black;
}

.navn-boks3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 20px;

}

.navn-boks3 button{
    text-align: center;
    width: 550px;
    height: 35px;
    border: none;
    background-color: #F5F5F5;
    color: black;
    cursor: pointer;
}

.navn-boks3 button:hover{
    color: #aaaaaa;
}

.leverings-oplysninger h4{
    text-align: center;
    margin-top: 50px;
}

.leverings-oplysninger p{
    text-align: center;
    font-size: 0.8rem;
}