/* Grundlæggende body styling */
body {
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 100px;
    background: linear-gradient(to bottom, #fff, #FFF5E8);
}

a{
    color: black;
}

header{
    padding: 30px;
    margin-bottom: -30px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    gap: 300px;
}

#tilbagePil {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 250px;
}

.socials-header {
    display: flex;
}

.profil {
    width: 65px;
    height: auto;
}

.kurv {
    width: 80px;
    height: auto;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px 20px;
    margin-top: 30px;
}

.progress-bar img {
    width: 60px;
    height: 40px;
}

.progress-linje {
    height: 1px;
    background-color: black;
    flex-grow: 1;
    margin: 0 5px;
}




footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.footer-container1, .footer-container2, .footer-container3 {
    display: flex;
    flex-direction: column;
}


.footer-container1 {
    margin-right: 400px;
}


.footer-container2 {
    margin-right: 100px;
}

#logo-footer{
    width: 200px;
    margin-bottom: -110px;
}
.socials-footer img{
    width: 35px;
}
.socials-footer{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 70px;
}

.footer-container2, .footer-container3 {
    line-height: 1px;
    text-align: center;
}

.footer-container2, .footer-container3 h3{
    font-size: 15px;
}


#checkboard{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 400px;
    margin-top: 10px;
}

#tekst{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

button{
    display: block;
    height: 35px;
    width: 300px;
    border: none;
    font-weight: bold;
    background-color: #83B33D;
    font-size: 15px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    cursor: pointer;
}

a {
    text-decoration: none;
}
